@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@import "tailwindcss";


body {
  font-family: "Cairo", sans-serif;
  direction: rtl;
}

@theme {
  --color-base: #13131A;
  --color-baseTwo: #9E9E9E;
  --color-primary: #03A7FF;
  --color-second: #2685c7;
}


.list-image div {
  width: calc(40% - 6px) !important;
  transition: width 1.5s;
}

.list-image .active {
  width: calc(80% - 6px) !important;
}

/* Swiper Custom Styles */
.doctors-swiper .swiper-button-next,
.doctors-swiper .swiper-button-prev,
.tourism-gallery-swiper .swiper-button-next,
.tourism-gallery-swiper .swiper-button-prev {
  color: #03A7FF;
  background: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.doctors-swiper .swiper-button-next::after,
.doctors-swiper .swiper-button-prev::after,
.tourism-gallery-swiper .swiper-button-next::after,
.tourism-gallery-swiper .swiper-button-prev::after {
  font-size: 18px;
  font-weight: bold;
}

.doctors-swiper .swiper-pagination-bullet,
.tourism-gallery-swiper .swiper-pagination-bullet {
  background: #03A7FF;
  opacity: 0.5;
}

.doctors-swiper .swiper-pagination-bullet-active,
.tourism-gallery-swiper .swiper-pagination-bullet-active {
  opacity: 1;
}