@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@import "tailwindcss";


body {
  font-family: "Cairo", sans-serif;
  direction: rtl;
}

@theme {
  --color-base: #13131A;
  --color-baseTwo: #9E9E9E;
  --color-primary: #03A7FF;
  --color-second: #2685c7;
}


.list-image div {
  width: calc(40% - 6px) !important;
  transition: width 1.5s;
}

.list-image .active {
  width: calc(80% - 6px) !important;
}