@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@import "tailwindcss";


body {
  font-family: "Cairo", sans-serif;
  direction: rtl;
}

@theme {
  --color-base: #13131A;
  --color-baseTwo: #9E9E9E;
  --color-primary: #03A7FF;
  --color-second: #2685c7;
}

/* .auth-container { */
/* min-height: 60vh; */
/* background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../src/assets/Home/copy-space-phone-desk.jpg'); */
/* background-size: cover; */
/* background-position: center; */
/* background-repeat: no-repeat; */
/* background-attachment: fixed; */
/* } */

/* .form-container { */
/* background: rgba(255, 255, 255, 0.41); */
/* backdrop-filter: blur(10px); */
/* } */


.list-image div {
  width: calc(100% / 2);
  transition: width 1.5s;
}

.list-image .active {
  width: 100%;
}